/* breadcrumb-section css start */
.breadcrumb-section.page-top-breadcrumb {
    padding: 216px 0 0 0;
}

.breadcrumb {
    padding: 12px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumb li {
    display: inline-flex;
    color: var(--text-muted);
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
}

.breadcrumb li+li:before {
    padding: 0 8px;
    color: var(--paragraph-text-color);
    content: "/\00a0";
    font-size: 20px;
}

.breadcrumb li a {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.breadcrumb li:first-child {
    padding: 0 18px 0 0;
}

.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* breadcrumb-section css end */

@media only screen and (max-width:767px) {

    /* breadcrumb-section css start */
    .breadcrumb-section.page-top-breadcrumb {
        padding: 165px 0 0 0;
    }

    /* breadcrumb-section css end */
}