/* collection-tab-section css start */
.collection-tab-section {
    padding: 65px 0;
}

.collection-tab-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 40px 0;
}

.collection-tab-btn-with-section-title {
    display: flex;
    align-items: center;
    gap: 30px;
}

.collection-section-title {
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 1px;
}

.collection-tab-btn ul {
    display: flex;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
    scrollbar-width: none;
}

.collection-tab-link {
    padding: 12.5px 25px;
    background-color: var(--section-bg);
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 450;
    line-height: 1;
    font-size: 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    text-wrap-mode: nowrap;
    display: block;
}

.collection-tab-link:hover {
    color: var(--btn-bg);
    background-color: var(--brand-color);
}

.collection-tab-link.active {
    color: var(--btn-bg);
    background-color: var(--brand-color);
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.collection-tab-section-link a {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 450;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.collection-tab-section-link a:hover {
    text-decoration: underline;
}

.tab-content-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.collection-tab-section-link.mobile-collection-tab-section-link {
    display: none;
    margin: 20px 0 0 0;
}

.collection-tab-section-link.mobile-collection-tab-section-link a {
    justify-content: flex-end;
}

/* collection-tab-section css end */

@media only screen and (max-width:992px) {

    /* collection-tab-section css start */
    .collection-tab-section .container {
        padding: 0 0 0 20px;
    }

    .collection-tab-section-link {
        display: none;
    }

    .collection-tab-btn-with-section-title {
        align-items: flex-start;
        gap: 20px;
        width: 100%;
        flex-wrap: wrap;
    }

    .collection-tab-btn {
        width: 100%;
    }

    .tab-content-item {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .tab-content-product .product-card {
        width: 335px;
    }

    .collection-tab-section-link.mobile-collection-tab-section-link {
        display: block;
        padding: 0 20px 0 0;
    }

    /* collection-tab-section css end */
}

@media only screen and (max-width:767px) {

    /* collection-tab-section css start */
    .collection-section-title {
        font-size: 40px;
    }
    /* collection-tab-section css end */
}