/* product-single-section css start */
.product-single-section {
    padding: 12px 0 130px;
}

.product-single-wrapper {
    display: flex;
    gap: 42px;
}

.product-single-img-wrap {
    width: 57.5%;
}

.product-single-content {
    width: 42%;
    position: sticky;
    height: fit-content;
    top: 195px;
}

.product-single-sub-title {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 450;
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 14px 0;
}

.product-single-title {
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 50px;
}

.product-single-price {
    margin: 8px 0 0 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.latest-price {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.product-varient,
.product-single-btn-wrap {
    margin: 16px 0 0 0;
}

.product-varient-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0 0 4px 0;
}

.product-varient-title,
.product-single-btn-area-title {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
}

.size-guide-open-btn {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}

.product-varient-select-field {
    max-width: 330px;
    width: 100%;
    height: 44px;
    border: 1px solid var(--border-color2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: var(--white);
    position: relative;
    z-index: 1;
}

.product-varient-select-field select {
    width: 100%;
    height: 100%;
    padding: 0 47px 0 15px;
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
}

.product-varient-select-field .icon {
    position: absolute;
    display: flex;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: -1;
}

.product-varient-radio-field-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.product-varient-radio-field {
    position: relative;
}

.product-varient-radio-field input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    user-select: none;
}

.product-varient-radio-field label {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 1px solid var(--border-color3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-varient-radio-field label .color-plate {
    width: 36px;
    height: 36px;
    background-color: var(--checkbox-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.product-varient-radio-field input[type="radio"]:checked~label {
    border-color: var(--brand-color);
}

.product-single-btn-inner {
    max-width: 470px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.product-quantity {
    border: 1px solid var(--border-color3);
    display: inline-flex;
    align-items: center;
    height: 44px;
    width: 124px;
}

.quantity-decrease,
.quantity-increase {
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    color: var(--btn-color);
    height: 100%;
    transition: ease .3s;
    padding: 0 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-total {
    color: var(--paragraph-text-color);
    font-weight: 450;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    width: 100%;
    height: 100%;
}

.product-single-btn-inner .btn {
    max-width: 330px;
    width: 100%;
    padding: 13px 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    justify-content: center;
    background-color: var(--btn-color);
    color: var(--btn-bg);
}

.product-single-btn-inner .primary-btn span {
    background-color: var(--btn-bg);
}

.product-single-btn-inner .btn:hover {
    color: var(--btn-color);
}

.product-single-text {
    margin: 20px 0 0 0;
}

.product-single-text p {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 0 0;
}

.product-single-text p:first-child {
    margin: 0;
}

.product-single-link {
    margin: 75px 0 0 0;
}

.product-single-link a {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 450;
    font-size: 16px;
    text-decoration: underline;
}

.product-description-accordion {
    margin: 47px 0 0 0;
}

.product-accordion-item {
    border-bottom: 1px solid var(--border-color4);
}

.product-accordion-item:first-child {
    border-top: 1px solid var(--border-color4);
}

.product-accordion-item .item-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding: 30px 0;
}

.product-accordion-item .item-title-wrapper .item-title {
    text-transform: capitalize;
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 450;
    font-size: 18px;
    transition: ease .3s;
    user-select: none;
}

.product-accordion-item-content {
    padding: 0 0 30px 0;
}

.product-accordion-item-content ul li p {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 450;
    font-size: 16px;
}

.product-accordion-item .item-title-wrapper .icon svg {
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}

.product-accordion-item.active .item-title-wrapper .icon svg {
    transform: rotate(45deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

/* product-single-section css end */

/* masurement-gidue modal css start */
.masurement-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 99999;
}

.masurement-modal.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.masurement-modal-content {
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body-color);
    padding: 20px;
}

.modal-content-top {
    padding: 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content-title {
    color: var(--heading-text-color);
    font-size: 20px;
    font-weight: 700;
    font-family: var(--heading-font);
    line-height: 1;
}

.measurement-guide-content {
    width: 100%;
}

.measurement-guide-content,
.measurement-guide-content th,
.measurement-guide-content td {
    border: 1px solid var(--border-color3);
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--brand-color);
    font-family: var(--heading-font);
    font-weight: 700;
}

.modal-close-button {
    cursor: pointer;
}

/* masurement-gidue modal css end */


@media only screen and (max-width:992px) {

    /* product-single-section css start */
    .product-single-wrapper {
        flex-wrap: wrap;
    }

    .product-single-img-wrap {
        width: 100%;
    }

    .product-single-img-wrap {
        width: 100%;
        display: flex;
        gap: 16px;
        overflow-x: auto;
    }

    .product-single-img {
        width: 300px;
        min-width: 300px;
    }

    .product-single-content {
        width: 100%;
        position: unset;
    }
}

@media only screen and (max-width: 767px) {

    /* product-single-section css start */
    .product-single-section {
        padding: 12px 0 40px;
    }

    .product-single-wrapper {
        gap: 20px;
    }

    .product-single-link {
        margin: 20px 0 0 0;
    }

    .product-description-accordion {
        margin: 20px 0 0 0;
    }

    .product-accordion-item .item-title-wrapper {
        padding: 15px 0;
    }

    .product-accordion-item-content {
        padding: 0 0 15px 0;
    }

    /* product-single-sectionn css end */
}

@media only screen and (max-width: 575px) {

    /* masurement-gidue modal css start */
    .masurement-modal-content {
        width: 350px;
    }
    /* masurement-gidue modal css end */
}